$desktop_font_size: 32px;
$tablet_font_size: 24px;
$mobile_font_size: 16px;

$desktop_width: 1080px;
$tablet_width: 800px;
$mobile_screen_width: 431px;

.App {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100vw;
  height: 100vh;
  font-size: $desktop_font_size;
  background: bisque;

}

//tablet screen
@media screen and (min-width: $mobile_screen_width) and (max-width: $tablet_width) {
  .App {
    font-size: $tablet_font_size;
  }
}

//mobile screen
@media screen and (max-width: $mobile_screen_width) {
  .App {
    font-size: $mobile_font_size;
  }
}


